$golden-ratio: 1.61803398875;
$spacing--lv0: 0px;
$spacing--lv1: 1px;
$spacing--lv2: 2px;
$spacing--lv3: 3px;
$spacing--lv4: 5px;
$spacing--lv5: 8px;
$spacing--lv6: 13px;
$spacing--lv7: 21px;
$spacing--lv8: 34px;
$spacing--lv9: 55px;
$spacing--lv10: 89px;
$spacing--lv11: 144px;
$spacing--lv12: 233px;
$spacing--lv13: 377px;
$spacing--lv14: 610px;
$spacing--lv15: 987px;