.gcg {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}
.gcg svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  stroke: magenta;
  stroke-width: 2px;
  display: none;
}
.gcg svg.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/***** Small devices (landscape phones, 576px and up) *****/
@media screen and (min-width: 576px) {
}
/***** Medium devices (tablets, 768px and up) *****/
@media screen and (min-width: 768px) {
  .gcg svg.mobile {
    display: none;
  }
  .gcg svg.tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/***** Large devices (desktops, 992px and up) *****/
@media screen and (min-width: 992px) {
  .gcg svg.tablet {
    display: none;
  }
  .gcg svg.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/***** GCG *****/
.hide-mobile {
  display: none !important;
}
/***** Small devices (landscape phones, 576px and up) *****/
@media screen and (min-width: 576px) {
}
/***** Medium devices (tablets, 768px and up) *****/
@media screen and (min-width: 768px) {
  .hide-mobile {
    display: flex !important;
  }
  .hide-tablet-desktop {
    display: none;
  }
}
/***** Large devices (desktops, 992px and up) *****/
@media screen and (min-width: 992px) {
}
